:root.dark body{
    --bs-black: #fff;
    --bs-white: #000;
    --bs-gray-100: #212529;
    --bs-gray-200: #343a40;
    --bs-gray-300: #495057;
    --bs-gray-400: #6c757d;
    // --bs-gray-500: #adb5bd;
    --bs-gray-600: #ced4da;
    --bs-gray-700: #dee2e6;
    --bs-gray-800: #e9ecef;
    --bs-gray-900: #f8f9fa;
    --bs-gray: var(--bs-gray-600);
    --bs-gray-dark: var(--bs-gray-800);
    --bs-light: var(--bs-gray-100);
    --bs-dark: var(--bs-gray-900);
    --bs-light-text-emphasis: var(--bs-gray-700);
    --bs-dark-text-emphasis: var(--bs-gray-700);
    --bs-light-bg-subtle: rgba(var(--bs-black), 0.75);
    --bs-dark-bg-subtle: var(--bs-gray-400);
    --bs-light-border-subtle: rgba(var(--bs-gray-200), .75);
    --bs-dark-border-subtle: rgba(var(--bs-gray-500), .75);
    --bs-body-color: var(--bs-gray-900);
    --bs-body-bg: var(--bs-white);
    --bs-emphasis-color: var(--bs-black);
    --bs-secondary-bg: rgba(var(--bs-gray-200), .75);
    --bs-tertiary-bg: var(--bs-gray-100);
    --bs-link-color: var(--bs-gray-900);
    --bs-highlight-color: var(--bs-gray-900);
    --bs-highlight-bg: var(--bs-warning-bg-subtle);
    --bs-border-color: var(--bs-gray-300);
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 23, 23, 23;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: var(--bs-dark-rgb);
    --bs-body-bg-rgb: var(--bs-white-rgb);
    --bs-emphasis-color-rgb: var(--bs-black-rgb);
    --bs-secondary-color: rgba(var(--bs-dark-rgb), 0.75);
    --bs-secondary-color-rgb: var(--bs-dark-rgb);
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(var(--bs-dark-rgb), 0.5);
    --bs-tertiary-color-rgb: var(--bs-dark-rgb);
    --bs-tertiary-bg-rgb: var(--bs-light-rgb);
    --bs-link-color-rgb: var(--bs-primary-bg-subtle);
    --bs-border-color-translucent: rgba(var(--bs-black-rgb), 0.175);
}