// 폰트 설정
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24MoyamoyaFace/Cafe24MoyamoyaFace.css');

// NOTE: 부트스트랩 호출 전 변수값 재정의
// ★ 순서가 중요하다
// [참고] https://getbootstrap.com/docs/5.0/customize/sass/#variable-defaults

// 변수 재정의
$primary: #05D182;
$gray-900: #171717;

$font-family-sans-serif: "Pretendard Variable", Pretendard, Roboto, -apple-system, BlinkMacSystemFont, system-ui, "Noto Sans KR", sans-serif;
$font-size-root: 20px;
$h1-font-size: $font-size-root * 7;
$h2-font-size: $font-size-root * 4;
$h3-font-size: $font-size-root * 3;
$font-weight-lighter:    200;
$font-weight-light:      400;
$font-weight-normal:     500;
$font-weight-medium:     600;
$font-weight-semibold:   700;
$font-weight-bold:       800;
$font-weight-bolder:     900;

$link-color: $gray-900;
$link-hover-color: $primary;

$enable-negative-margins: true;
$spacer: 50px;

$transition-base: all .5s ease-in-out;
$transition-fast: all .2s ease-in-out;
$transition-slow: all 1s ease-in-out;

// 필수 모듈 호출
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables"; // 해당 파일에 작성된 변수를 재정의할 수 있다.
@import "../../../node_modules/bootstrap/scss/mixins";

// 정의된 변수를 사용하는 변수 재정의

// 그 외 모듈 호출

// NOTE: 부트스트랩 기본 스타일 불러오기
// [참고] https://getbootstrap.com/docs/5.0/getting-started/introduction/
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./darkThem";

::selection {
    background-color: $primary;
    color: $white;
}
body{
    word-break: break-word;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-hover-none{
    &:hover{
        color: inherit !important;
    }
}
.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    &.ellipsis-1{
        -webkit-line-clamp: 1;
    }
    &.ellipsis-2{
        -webkit-line-clamp: 2;
    }
    &.ellipsis-3{
        -webkit-line-clamp: 3;
    }
}
/* s: 호버 박스 */
.hover-box{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0 1.5em 0 1.5em;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: $transition-base;
    z-index: 1;
    cursor: pointer;
    &::before{ /* + MORE 버튼 */
        content: '+\AMORE';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5em;
        height: 5em;
        padding: 0.4em;
        border: 0.2em solid $white;
        border-radius: 100%;
        overflow: hidden;
        background-color: transparentize($primary, 0.2);
        box-shadow: 10px 10px 25px transparentize($black, 0.55) !important;
        color: $white;
        opacity: 0;
        text-align: center;
        line-height: 1.2;
        white-space: pre; // \A 를 통한 줄바꿈
        position: absolute;
        left: 50%;
        bottom: 40%;
        z-index: 3;
        transform: translate(-50%, 50%);
        transition: $transition-base;
    }
    &::after{ /* 배경 어둡게 */
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(
                to bottom,
                transparentize(darken($primary, 12%), 1),
                $primary);
        backdrop-filter: blur(2px);
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: $transition-base;
    }
    .hover-box-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: $transition-base;
    }
    .hover-box-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: map-get($spacers, 2);
        background: linear-gradient(
                    to bottom,
                    transparent,
                    transparentize($dark, 0.5) 80%);
        position: absolute;
        bottom: 0;
        left: 0;
        text-wrap: wrap;
        z-index: 2;
        color: $white;
        .fa-circle-plus{
            opacity: 1;
            color: $white;
            position: absolute;
            transition: $transition-base;
        }
    }
    &:hover{
        border-radius: 0;
        &::before{
            opacity: 1;
            bottom: 50%;
        }
        &::after{
            opacity: 1;
        }
        .hover-box-img{
            transform: translate(-50%, -50%) scale(1.2);
        }
        .hover-box-info{
            .fa-circle-plus{
                opacity: 0;
                transform: translateY(100%);
            }
            [class^="ellipsis"]{
                display: block;
            }
        }
    }
}
/* e: 호버 박스 */
/* s: 모달 */
.modal{
    &.on{
        display: block;
        background-color: rgba(var(--bs-dark-rgb), .5);
    }
}
/* e: 모달 */